<main>
  <header class="bg-gray-600">
    <h1 class="text-3xl p-3 text-white">Dashboard</h1>
    <h2 class="text-3xl p-3 text-white">Welcome {{user}}</h2>
  </header>

  <div class="p-3 grid place-items-center">
    <!-- counts number of cars saved for this user-->
    <!-- include link or button to saved cars?-->
    <div id="count-saved" class="rounded bg-gray-300"></div>
    <!-- most popular model saved for this user-->
    <div id="popular-make" class="rounded bg-gray-300"></div>
    <!-- most popular body style saved for this user-->
    <div id="popular-body" class="rounded bg-gray-300"></div>
  </div>

 <h3 class="h3">Add a post</h3>
    <form class="body">
        <div class="form mb-3">
            <label class="label" ></label>
            <input type="text" class="form-input w-100" 
              placeholder="Post Title"/>
        </div>

        <div class="form mb-3">
            <label class="label" ></label>
            <textarea class="input w-100" 
                 placeholder="Write your post here"></textarea>
        </div>

        <button type="submit" >Publish</button>
    </form>
    </form>

  <footer class="w-full bg-gray-600 text-white p-3 fixed bottom-0">
    Getting Technical All Rights Reserved
  </footer>
 
</main>

<script src="/javascript/new-post.js"></script>